---
// import '../styles/global.css';
const identity = {
  firstName: "Elliott",
  country: "USA",
  occupation: "Site Reliability Engineer",
  hobbies: ["SRE", "Drones", "AWS DevOps", "Cooking", "Fishing"],
};

const skills = ["Python", "Kubernetes", "App Development", "AWS", "SOC","IOT", "AI Enthusiast", "NLP"];

const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
const fontWeight = "bold"
const textCase = "uppercase"
const pageTitle = "About Me";

---

<!doctype html>
<html lang="en">
	<style define:vars={{skillColor , fontWeight,  textCase}}>
		html {
				background-color: #f1f5f9;
				font-family: sans-serif;
				}

				body {
				margin: 0 auto;
				width: 100%;
				max-width: 80ch;
				padding: 1rem;
				line-height: 1.5;
				}

				* {
				box-sizing: border-box;
				}

				h1 {
				margin: 1rem 0;
				font-size: 2.5rem;
				}
		h1 {
		  color: purple;
		  font-size: 4rem;
		}
		.skill {
			color: var(--skillColor);
			font-weight: var(--fontWeight);
			text-transform: var(--textCase);
		}

		
	  </style>




	<body>
		<a href="/">Home</a>
		<br/>
		<a href="/blog_/">Blog</a>
		<h1>{pageTitle}</h1>
		
		<p>Here are a few facts about me:</p>
			<ul>
			<li>My name is {identity.firstName}.</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
			{identity.hobbies.length >= 2 &&
				<li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
			}
			</ul>
			<p>My skills are:</p>
			<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}


			{happy && <p>I am happy to be learning Astro!</p>}

			{finished && <p>I finished this tutorial!</p>}

			{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</ul>
	</body>
</html>
